<div class="work-page">
    <div class="work__section">
        <h2 class="title">WORK</h2>
    </div>
    <div class="works">
        <div class="works__view">
            <div class="loading works__view" *ngIf="!loaded; else work">
                <div class="work__block gradient" *ngFor="let i of array"></div>
            </div>
            <ng-template #work>
                <div class="work__block" *ngFor="let work of filteredWork">
                    <app-work-block [work]="work"></app-work-block>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<div class="back"></div>