<div class="about">
    <img class="logo" src="assets/icons/logo.png" alt="">
    <div class="about__section">
        <div class="about__text">
            <h2 class="about__title">ABOUT US</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, corrupti voluptatem. Iste debitis sunt
                aliquid, illo harum, dolores eveniet laudantium voluptas eius, illum modi perspiciatis repellat iure
                ducimus veritatis veniam!
            </p>
        </div>
        <div class="about__img">
            <img src="assets/design/about-us.png">
        </div>
    </div>
    <footer class="footer">
        <div class="footer__el">
            <h3>TEAM</h3>
            <ul>
                <li><a href="">Ararat Barsegyan</a></li>
                <li><a href="">Arman Mkrtchyan</a></li>
                <li><a href="">Gor</a></li>
                <li><a href="">Samvel Saroyan</a></li>
                <li><a href="">Telman Poloyan</a></li>
            </ul>
        </div>
        <div class="footer__el">
            <h3>LINKS</h3>
            <ul>
                <li><a target="_blank" href="https://www.freepik.com">Freepik Company</a></li>
                <li><a target="_blank" href="https://storyset.com/happy">Happy illustrations by Storyset</a></li>
                <li><a target="_blank" href="https://www.flaticon.com/ru/">Icons from Freepik - Flaticon</a></li>
                <li><a target="_blank" href="https://icons8.com">Icons by Icons8</a></li>
            </ul>
        </div>
        <div class="footer__el">
            <h3>HELP</h3>
            <ul>
                <li><a href="">Support</a></li>
                <li><a href="">Contract</a></li>
            </ul>
            <div class="footer__icons">
                <a href="https://www.facebook.com/"><img src="assets/icons/facebook.png"></a>
                <a href="https://www.instagram.com/"><img src="assets/icons/instagram.png"></a>
                <a href="https://www.telegram.org/"><img src="assets/icons/telegram.png"></a>
                <a href="https://www.twitter.com/"><img src="assets/icons/twitter.png"></a>
            </div>
        </div>
    </footer>
</div>